{% load static %}
<aside class="col-lg-4">
    <!-- Search -->
    <div class="widget">
       <h5 class="widget-title"><span>Search</span></h5>
       <form action="list.html" class="widget-search">
          <input id="search-query" name="s" type="search" placeholder="Type &amp; Hit Enter...">
          <button type="submit"><i class="ti-search"></i>
          </button>
       </form>
    </div>
    <!-- categories -->
    <div class="widget">
       <h5 class="widget-title"><span>Categories</span></h5>
       <ul class="list-unstyled widget-list">
          <li><a href="list.html" class="d-flex">Four seasone
                <small class="ml-auto">(1)</small></a>
          </li>
          <li><a href="list.html" class="d-flex">Newyork city
                <small class="ml-auto">(2)</small></a>
          </li>
          <li><a href="list.html" class="d-flex">Photobooth
                <small class="ml-auto">(1)</small></a>
          </li>
          <li><a href="list.html" class="d-flex">Photography
                <small class="ml-auto">(2)</small></a>
          </li>
          <li><a href="list.html" class="d-flex">Videography
                <small class="ml-auto">(1)</small></a>
          </li>
       </ul>
    </div>
    <!-- tags -->
    <div class="widget">
       <h5 class="widget-title"><span>Tags</span></h5>
       <ul class="list-inline widget-list-inline">
          <li class="list-inline-item"><a href="list.html">Booth</a>
          </li>
          <li class="list-inline-item"><a href="list.html">City</a>
          </li>
          <li class="list-inline-item"><a href="list.html">Image</a>
          </li>
          <li class="list-inline-item"><a href="list.html">New</a>
          </li>
          <li class="list-inline-item"><a href="list.html">Photo</a>
          </li>
          <li class="list-inline-item"><a href="list.html">Seasone</a>
          </li>
          <li class="list-inline-item"><a href="list.html">Video</a>
          </li>
       </ul>
    </div>
    <!-- latest post -->
    <div class="widget">
       <h5 class="widget-title"><span>Latest Article</span></h5>
       <!-- post-item -->
       <ul class="list-unstyled widget-list">
          <li class="media widget-post align-items-center">
             <a href="post-detail.html">
                <img loading="lazy" class="mr-3" src="{% static 'images/post/post-6.jpg' %}">
             </a>
             <div class="media-body">
                <h5 class="h6 mb-0"><a href="post-detail.html">Elements That You Can Use To Create A New Post On
                      This Template.</a></h5>
                <small>March 15, 2020</small>
             </div>
          </li>
       </ul>
       <ul class="list-unstyled widget-list">
          <li class="media widget-post align-items-center">
             <a href="post-detail.html">
                <img loading="lazy" class="mr-3" src="{% static 'images/post/post-1.jpg' %}">
             </a>
             <div class="media-body">
                <h5 class="h6 mb-0"><a href="post-detail.html">Cheerful Loving Couple Bakers Drinking Coffee</a>
                </h5>
                <small>March 14, 2020</small>
             </div>
          </li>
       </ul>
       <ul class="list-unstyled widget-list">
          <li class="media widget-post align-items-center">
             <a href="post-detail.html">
                <img loading="lazy" class="mr-3" src="{% static 'images/post/post-2.jpg' %}">
             </a>
             <div class="media-body">
                <h5 class="h6 mb-0"><a href="post-detail.html">Cheerful Loving Couple Bakers Drinking Coffee</a>
                </h5>
                <small>March 14, 2020</small>
             </div>
          </li>
       </ul>
    </div>
    </aside>
    <!-- End Sidebar -->
    </div>
 </div>
 </section>